@keyframes animacja{
  0%{height: 150px;
  top: 500px;}
  100%{height: 400px;
    top: 250px;}
}
.cont{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.card1{
  position: relative;
  height: 500px;
  width: 300px;
  background-image: url("gory.jpg");
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card{
    position: absolute;
    top: 500px;
    background: lightgray;
    width: 300px;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    color: darkblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.gorny{
  position: absolute;
  top: 20px;
  color: darkblue;
}
.linia{
  background: darkblue;
  height: 3px;
  width: 250px;
}
.wiado{
  margin: 20px;
}
.ukryty{
  display: none;
  position: absolute;
  top: 200px;
}
.kwadraty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.kwadrat{
  height: 90px;
  width: 90px;
  background: lightskyblue;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
    animation: animacja 1s 1;
    height: 400px;
    top: 250px;
  }
  .card:hover .ukryty{
    display: block;
  }
