@keyframes animacja{
  0%{height: 150px;
  top: 500px;}
  100%{height: 400px;
    top: 250px;}
}
*{
  font-family: 'Sofia', sans-serif;
}
.cont{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: rgb(205,195,195);
    background: linear-gradient(167deg, rgba(205,195,195,1) 0%, rgba(27,172,204,1) 22%, rgba(83,172,191,1) 51%, rgba(0,212,255,1) 87%, rgba(84,190,212,1) 100%);
    padding: 20px;
}
.calosc{
  display: flex;
  height: 450px;
}
.card1{
  position: relative;
  height: 500px;
  width: 300px;
  background-image: url("gory.jpg");
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card2{
  position: relative;
  height: 500px;
  width: 300px;
  background-image: url("zamek.jpg");
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card3{
  position: relative;
  height: 500px;
  width: 300px;
  background-image: url("morze.jpeg");
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.niebieskie{
  background: #0a4870;
  opacity: 0;
  height: 500px;
  width: 300px;
  position: absolute;
  top: 0px;
  border-radius: 20px 20px 0px 0px;
  transition: 2s;
  display: flex;
  justify-content: center;
}
.przycisk{
  height: 40px;
  width: 150px;
  margin: 50px;
  background: none;
  color: black;
  font-size: 20px;
  border: 5px solid black;
  opacity: 1;
  text-decoration: none;
  display: inline-block;
}
.card{
    position: absolute;
    top: 500px;
    background: lightgray;
    width: 300px;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    color: darkblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 2s;
}
.gorny{
  position: absolute;
  top: 20px;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.linia{
  background: darkblue;
  height: 3px;
  width: 250px;
}
.wiado{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.ukryty{
  display: none;
  position: absolute;
  top: 200px;
}
.kwadraty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.kwadrat{
  height: 90px;
  width: 90px;
  background: lightskyblue;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kwadrat.b{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 25px;
  color: #ec992c;
}
.kwadrat.a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 25px;
}
.wiado{
  color: grey;
}
.poletxt{
  font-size: 30px;
  color: white;
}




.calosc:hover .card{
    animation: animacja 1s 1;
    height: 400px;
    top: 250px;
  }
  .calosc:hover .ukryty{
    display: block;
  }
.calosc:hover .niebieskie{
  opacity: 0.35;
  transition: 1s;
}
.przycisk:hover{
  background: black;
  color: white;
  font-size: 20px;
  border: 5px solid white;
}
.kwadrat:hover{
  background: white;
  cursor: pointer;
}
